* {
  box-sizing: border-box;
}

header{
  display: block;
}
body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
img{
  width: 100%;
  vertical-align: bottom;
}
.pcheader{
  padding: 0 60px;
}
.header-inner{
  max-width: 1040px;
  width: 100%;
  min-height: 82px;
  margin: 0 auto;
  padding: 15px 0 0;
}
.header-title{
  position: relative;
  display: flex;
  align-items: center;
}
.header-logo{
  margin-bottom: 10px;
  margin-right: 30px;
  border-radius: 4px;
}
.frema-icon{
  width: 140px;
  display: block;
}
.header-searchbox{
  margin-left: auto;
  width: 100%;
}
.search-box{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}
.search-box-input{
  width: calc(100% - 26px);
  height: 36px;
  padding: 0 0 0 5px;
}
.search-submitbtn{
  width: 36px;
  border: 0;
  cursor: pointer;
  background-color:#3CCACE;
  padding: 8px;
}
.header-nav{
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
}
.left-list{
  position: relative;
  display: flex;
}
.right-list{
  display: flex;
  margin-left: auto;
}
.list-category{
  text-decoration: none;
  padding: 0;
}
.main{
  background-color: #f8f8f8;
}
.fv{
  width: 100%;
  height: 560px;
  background-image: image-url('bg-mainVisual-pict_pc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
}
.content{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
}
.content-title{
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
}
.content-text{
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-size: 18px;
  line-height: 1.77778;
  color: #fff;
  margin: 16px 0 0 0;
}
.content-btn{
  display: flex;
  margin: 24px 0 0 0;
}
.apple{
  width: 160px;
  margin-right: 10px;
}
.google{
  height: 80px;
  width: 180px;
  margin-top: -13px;
}